
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="span8">
    <h3>Wanted Feed</h3>
    <%= render 'shared/feed' %>
    </div>
  
  </div>

<% else %>
    <div class="center">
      <h1>今すぐ欲しい人材を，手にしよう！</h1>
    </div>


<div class="jfeeld">
            <div class="center">
            登録はこちらから
            </div>
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :student_id, "Student id (Number only)" %>
            <%= f.number_field :student_id %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
 
            <div class="center">
            </br>
            <%= f.submit "Join KMD MERCENARY", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
  </div>
  
  <div class="sfeeld">
   登録済みの方はこちら</br>
    <%= link_to "Sign in KMD MERCENARY!", signin_path,
                                class: "btn btn-large btn-primary" %>
  

  </div>

  <%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
