<li>
  <span class="content"><%= message.content %>

    </br>
    </br>
    </br>
    <%# Tagを切り出して，投稿者の画像と一致した場合のみ表示．途中で英字が入っている場合はreturnする%>
    <% 
      $tag = extraction_hashtag(message.content) 
    %>
    <% $tag.each do |img| %>
      <%f = Image.find_by_id(img.delete("#"))%>
      <%if(f.nil?)%>
      <%else%>
        <% if(f.user_id == message.originator_id) %>
        <a href="<%= show_image_image_path(img.delete("#")) %>">#<%= img.delete("#") %>
          <%= image_tag show_image_image_path(img.delete("#")), class: "middle-img" %>
        </a>
        </br>
        <% end %>
      <% end %>
    <% end %>

</span>


<%  $user = User.find(message.originator_id) %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(message.created_at) %> ago.
  </span>
      <span class="user">
      by <%= link_to $user.name, $user %>
    </span>

</li>