  <% provide(:title, "authenticate") %>
  <h1>Please authenticate</h1>
  <div class="row">
    <div class="span6 offset3">


   <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :email %>
      <%= f.text_field :email, :readonly => (true) %>
    <% end %>

      <%= form_for(:session, url: authing_path) do |f| %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Auth", class: "btn btn-large btn-primary" %>
      <% end %>

    </div>
  </div>

