<% provide(:title, 'ImageBox') %>
<h1>ImageBox</h1>

<%= form_for(@image) do |f| %>
  <%= f.file_field :file,accept: "image/jpeg" %>
  <%= f.submit "アップロードする" %>
<% end %>

<%= will_paginate @images %>

画像枚数:
<%= @user.images.count %>
</br>


<ul class="users">
	<% @images.each do |img| %>
		<li>
			<a href="<%= show_image_image_path(img) %>">
			<%= image_tag show_image_image_path(img), class: "middle-img" %>
			</a>
			Image number:<a href="<%= show_image_image_path(img) %>">#<%=img.id%></a></br>
		</li>
	<% end %>
</ul>

<%= will_paginate @images %>







