<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">

    <section>
        <%= gravatar_for @user %>
        <div class = "name-st">
          <%= @user.name %>
        </div>
     
        </br>

        <div class = "description-st">
        <%= @user.description %>
        </div>
    </section>

    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
        <%= render 'shared/message_form' %>
    </section>

  </aside>
  <div class="span8">
   <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>