<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
      [<%= link_to "message", feed_item.user %>]
    </span>


    <span class="content">
    <%= feed_item.content %>
    </br>
    </br>
    </br>
    <%# Tagを切り出して，投稿者の画像と一致した場合のみ表示．途中で英字が入っている場合はreturnする%>
    <% 
      $tag = extraction_hashtag(feed_item.content) 
    %>
    <% $tag.each do |img| %>
      <%f = Image.find_by_id(img.delete("#"))%>
      <%if(f.nil?)%>
      <%else%>
        <% if(f.user_id == feed_item.user_id) %>
        <a href="<%= show_image_image_path(img.delete("#")) %>">#<%= img.delete("#") %>
          <%= image_tag show_image_image_path(img.delete("#")), class: "middle-img" %>
        </a>
        </br>
        <% end %>
      <% end %>
    <% end %>


    </span>


    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>

  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  <% end %>
</li>