<%= form_for(@message) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new message..." %>
    <%= f.text_field :originator_id, :style => "display:none",:value => params[:id],:readonly => (true) %>
  </div>
  <%= f.submit "Send message", class: "btn btn-large btn-primary" %>
<% end %>