<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user %>
</a>
<div class = "name-st">
	<%= current_user.name %>
</div>

<div class = "description-st">
	<%= current_user.description %>
</div>

<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>


