<li>
  <span class="content"><%= micropost.content %>
  	</br>
    </br>
    </br>
    <%# Tagを切り出して，投稿者の画像と一致した場合のみ表示．途中で英字が入っている場合はreturnする%>
    <% 
      $tag = extraction_hashtag(micropost.content) 
    %>
    <% $tag.each do |img| %>
      <%f = Image.find_by_id(img.delete("#"))%>
      <%if(f.nil?)%>
      <%else%>
        <% if(f.user_id == micropost.user_id) %>
        <a href="<%= show_image_image_path(img.delete("#")) %>">#<%= img.delete("#") %>
          <%= image_tag show_image_image_path(img.delete("#")), class: "middle-img" %>
        </a>
        </br>
        <% end %>
      <% end %>
    <% end %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>