// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.middle-img{
  width: 30%
}

.large-img{
  width: 60%
}