<footer class="footer">

<div class="fv">
	<div class="rgh">
    Copyright 2007-2099 <a href="http://">KMD MERCENARY</a>, All Rights Reserved.
    </div>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
</div>

</footer>