<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/js' %>
  </head>
  <body>

    <% if signed_in? %>

      <% if params[:controller] == "users" && params[:action] == "message"%>
        <div id="bg">
          <img src="/assets/low.jpg" alt="">
        </div>
      <% else %>
        <div id="bg">
          <img src="/assets/vw.jpg" alt="">
        </div>
      <% end %>    

    <% else %>

      <div id="bg">
        <img src="/assets/1.jpg" alt="">
      </div>
    
    <% end %>

<div class="front">
    <%= render 'layouts/header' %>

    <div class="container">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </div>

    <%= render 'layouts/footer' %>
</div>
  </body>
</html>
